body{
    background-color: rgb(197, 228, 238);
}
.page-header{
    text-align: center;
}
.page-header a{
    font-weight:normal;
    font-size: 25px;
    float: left;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    background-color: rgb(92, 255, 151);
    border: 2px solid black;
    border-radius: 5px;
    padding: 25px 55px 25px 55px;  
    transition: 0.5s ease;
}
.page-header a:hover{
    background-color: rgb(83, 187, 174);
    transform: scale(1.1);
}
.page-header p{
    display: inline-block;
    margin: 5px 15px;
    font-size: 60px;
    width: 90%;
}